<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>ERP</display-name>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>com.erp.shared.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBranch</servlet-name>
        <servlet-class>com.erp.branch.AddBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSection</servlet-name>
        <servlet-class>com.erp.section.AddSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>com.erp.student.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>com.erp.student.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>com.erp.student.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFaculty</servlet-name>
        <servlet-class>com.erp.faculty.AddFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFaculty</servlet-name>
        <servlet-class>com.erp.faculty.DeleteFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFaculty</servlet-name>
        <servlet-class>com.erp.faculty.UpdateFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>com.erp.subject.AddSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSemester</servlet-name>
        <servlet-class>com.erp.semester.AddSemester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/student-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBranch</servlet-name>
        <url-pattern>/add-branch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSection</servlet-name>
        <url-pattern>/add-section</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/add-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/delete-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/update-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFaculty</servlet-name>
        <url-pattern>/add-faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFaculty</servlet-name>
        <url-pattern>/delete-faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFaculty</servlet-name>
        <url-pattern>/update-faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/add-subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSemester</servlet-name>
        <url-pattern>/add-semester</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.erp.admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>com.erp.student.StudentLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin-login</url-pattern>
    </servlet-mapping>
</web-app>
